<a href="https://colab.research.google.com/github/yunisindhu/Robusters/blob/master/SindhuRajan_ML1Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Machine Learning 1 - Assignment

In [22]:
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Heart.csv")

In [27]:
from sklearn.preprocessing import LabelEncoder
lb_make = LabelEncoder()
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Heart.csv")
print (df.head(10))
col=df.columns.tolist()
print (col)
df["AHD_code"]=lb_make.fit_transform(df["AHD"])
df["ChestPain_code"]=lb_make.fit_transform(df["ChestPain"])
df[["ChestPain", "ChestPain_code", "AHD", "AHD_code", "Sex"]]

   Unnamed: 0  Age  Sex     ChestPain  ...  Slope   Ca        Thal  AHD
0           1   63    1       typical  ...      3  0.0       fixed   No
1           2   67    1  asymptomatic  ...      2  3.0      normal  Yes
2           3   67    1  asymptomatic  ...      2  2.0  reversable  Yes
3           4   37    1    nonanginal  ...      3  0.0      normal   No
4           5   41    0    nontypical  ...      1  0.0      normal   No
5           6   56    1    nontypical  ...      1  0.0      normal   No
6           7   62    0  asymptomatic  ...      3  2.0      normal  Yes
7           8   57    0  asymptomatic  ...      1  0.0      normal   No
8           9   63    1  asymptomatic  ...      2  1.0  reversable  Yes
9          10   53    1  asymptomatic  ...      3  0.0  reversable  Yes

[10 rows x 15 columns]
['Unnamed: 0', 'Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs', 'RestECG', 'MaxHR', 'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'AHD']

        ChestPain  ChestPain_code  AHD  AHD_code  Sex
0         typical               3   No         0    1
1    asymptomatic               0  Yes         1    1
2    asymptomatic               0  Yes         1    1
3      nonanginal               1   No         0    1
4      nontypical               2   No         0    0
..            ...             ...  ...       ...  ...
298       typical               3  Yes         1    1
299  asymptomatic               0  Yes         1    1
300  asymptomatic               0  Yes         1    1
301    nontypical               2  Yes         1    0
302    nonanginal               1   No         0    1

[303 rows x 5 columns]